<div class="jumbotron">
	<div class="container">
	<h1 id="jumbo">GradEZ</h1>
		<h1 id="jumbo1">Online Grading Made Simple</h1>
	</div>
</div> 
<div class="supporting">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<h2>Teachers</h2>
				<a href="/teachers/sign_up" class="btn">Go</a>
			</div>
			<div class="col-md-6 text-center">
				<h2>Students</h2>
				<a href="/students/sign_up" class="btn">Go</a>
			</div>
		</div>



	</div>
</div>