<div class="info_area">
<h2 class="teach">Add a new course to your account:</h2>

<%= form_for @course do |f| %>
  <%= f.label :course_name %><br>
  <%= f.text_area :name %><br>
  <%= f.submit "Create" %>
<% end %>
</div>