body {
	font-family: arial;
	background-color: #B0C4DE;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* change this later */

h1 {
	color: white;
}
/*top navigation styling */

#navbar {
	display: block;
	background: #00BFFF;
	box-shadow: 0 2px 1px #6495ED;
	height: 52px;
	margin-bottom: 0px;
	width: auto;
	min-width: 960px;
	border-radius: 44px;
}

.topnav1 {
	float: right;
	list-style: none;
	display: block;
	width: auto;
	height: 42px;
	margin: 10px 10px 0;
	padding: 0;
}

#logo {
	display: block;
	font-family: 'Questrial', sans-serif;
	float: left;
	font-size: 36px;
	margin: 0 68px 0 15px;
}

.topnav2 {
	list-style: none;
	display: block;
	width: auto;
	height: 42px;
	margin: 0;
	padding: 0;
}

.topnav2 > li {
	display: list-item;
	float: left;
	position: relative;
	margin: 10px 40px 0;
	z-index: 10;
}

.navright {
	display: inline-block;
	margin-right: 15px;
}
/*Main Page*/

.jumbotron {
	background: url(main_img.jpg);
	background-size: cover;
	height: 500px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

#jumbo 	{
	color: white;
	font-family: 'Questrial', sans-serif;
	font-size: 148px;
	text-shadow: 2px 2px black;
  	animation:pulse 1.0s infinite alternate;
}

@-webkit-keyframes pulse {
  from { text-shadow: 2px 2px 10px #E0FFFF; }
  to { text-shadow: 2px 2px 28px #00FFFF; }
}
#jumbo1 {
	color:white;
	font-family: 'Questrial', sans-serif;
	text-shadow: 2px 2px black;
}

.supporting h2{
	text-align: center;
}
.btn {
	font-size: 16px;
	border-radius: 4px;
	margin: auto;
	padding: 10px 20px;
	color: #30627E;
	width: 200px;
	border: 1px solid #30627E;
	text-transform: uppercase;
}
.main_logo {
	display: block;
	text-align: center;
	margin: 0;
	}

#signup {
	display: block;
	margin: 0;
	text-align: center;
}

.btn_link {
	color: red;
	text-decoration: none;
}
.btn_link>a:hover {
    text-decoration: underline;
}
#buttons_h1 {
	color: red;
	font-family: Arial;
	text-shadow: 1px 1px black;
}
 /* Footer Area */

.copy {
	padding-top: 10px;
}

.pull-right {
	float: right!important;
}

/*teacher pages*/

.teach {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}