body {
	font-family: arial;
	background-image: url(slender.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* change this later */

h1 {
	color: white;
}
/*top navigation styling */

#navbar {
	display: block;
	background: #FFEC8B;
	box-shadow: 0 2px 1px #53868B;
	height: 42px;
	margin-bottom: 5px;
	width: auto;
	min-width: 960px;
	border-radius: 4px;
}

.topnav1 {
	float: right;
	list-style: none;
	display: block;
	width: auto;
	height: 42px;
	margin: 10px 10px 0;
	padding: 0;
}

#logo {
	display: block;
	float: left;
	height: 30px;
	width: 120px;
	margin: 6px 68px 0 15px;
}

.topnav2 {
	list-style: none;
	display: block;
	width: auto;
	height: 42px;
	margin: 0;
	padding: 0;
}

.topnav2 > li {
	display: list-item;
	float: left;
	position: relative;
	margin: 10px 40px 0;
	z-index: 10;
}

/*Main Page*/

.main_logo {
	display: block;
	text-align: center;
	margin: 0;
	}

#signup {
	display: block;
	margin: 0;
	text-align: center;
}

.btn_link {
	color: red;
	text-decoration: none;
}
.btn_link<a:hover {
    text-decoration: underline;
}
#buttons_h1 {
	color: red;
	font-family: Arial;
	text-shadow: 1px 1px black;
}
